<header>
    <nav>
        <div class="logo">
            <a href="/"><h1>NewsFeed</h1></a>
        </div>
        <!-- Yêu cầu: Menu gồm Trang chủ, Danh sách danh mục, Liên hệ -->
        <ul class="menu">
            <li><a href="/">Trang chủ</a></li>
            <li><a href="/category">Danh mục</a></li>
            <li><a href="/contact">Liên hệ</a></li>
        </ul>
    </nav>
</header>